<!DOCTYPE html>
<html>
  <body>
    <p>Hello,</p>
    <p>
      You (or someone else) requested a password reset for your account. If this
      was not you, you can safely ignore this email.
    </p>
    <p>
      To reset your password, click the link below or copy it into your browser:
    </p>
    <p>
      <a
        href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
      >
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid
        token=token %}
      </a>
    </p>
    <p>If you encounter any issues, please contact support.</p>
    <p>Thank you, <br />Your Website Team</p>
  </body>
</html>
