<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Set New Password</title>
  </head>
  <body>
    <div class="container">
      {% if validlink %}
      <h2>Set New Password</h2>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Reset Password</button>
      </form>
      {% else %}
      <h2>Invalid Link</h2>
      <p>
        The password reset link is invalid, possibly because it has already been
        used.
      </p>
      <a href="{% url 'password_reset' %}">Request a New Link</a>
      {% endif %}
    </div>
  </body>
</html>
